<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
Contact Ruby on Rails Tutorial about the sample app at the
<a href="http://railstutorial.org/contact">contact page</a>.
</p>Rack::File headers parameter replaces cache_control after Rack 1.5.
FFFFFFFF
